#forgot-pwd-btn {
  background-color: black !important;
  border: 1px solid black !important;
  font-family: 'Josefin Sans' !important;
  color: white !important;
  margin-bottom: 0;
  color: black;
}

.forgot-pwd-title {
  text-align: center;
}