/* .canvas-navbar{
    font-size: 18px !important;
    color: black !important;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1vh;
}
.canvas-logout{
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 29px !important;
    display: flex;
    justify-content: center;
    color: black !important;
    align-items: center;
    font-weight: 400  !important;
    margin-left: 0.8rem;
}
.canvas-links .nav-link{
    font-size: 18px !important;
    color: black !important;

}
.canvas-trade{
    font-weight: 700;
    text-transform: capitalize;
}
.btn-primary ,.btn-primary:active, .btn-primary:focus{
    background-color: black !important;
    border: 1px solid black;
    color: white;
    box-shadow: unset !important;
}
.btn-secondary1 ,.btn-secondary1:active, .btn-secondary1:focus{
    background-color: #C4C4C4 !important;
    border: 1px solid #C4C4C4;
    color: white;
    border-radius: 65px;
    box-shadow: unset !important;
    padding: 10px 73px;
}
.avatar{
    background-color: #C4C4C4;
    border-radius: 50%;
    padding: 9px 22px;
    margin-right: 10px;
}
.user-table td {
    border-style: unset !important;
    padding: 1rem 0.5rem !important;
}
.custom-modal .modal-content{
    border-radius: 24px !important;
}
.custom-modal .modal-body{
    padding-right: 2rem!important;
    padding-left: 2rem!important;
}
.ant-btn-primary,.ant-btn-primary:hover ,.ant-btn-primary:focus {
    color: #fff;
    border-color: black;
    background: black;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.cross-icon{
    color: red;
    font-size: 18px;
    margin: 0.5rem!important;
}
.plus-icon{
    font-size: 18px;
    margin: 0.5rem!important;
} */
